# Python caches
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/

# Coverage and build artifacts
.coverage
.coverage.*
.artifacts/
dist/

# Local environment files
.env

# Lambda build artifacts
services/ingest/jira_ingestor/build/
services/ingest/jira_ingestor/jira_ingestor.zip

# Terraform local state backups
*.tfstate.backup

# Misc project artifacts
artifacts/issues/archive/
